@mixin border-radius-vendor($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.button{    
    color: white;        
    text-align: center;
    font-size: 48pt;        
    width: 200px;
    height: 100px;
    line-height: 100px;
    @include border-radius-vendor(10px);
}

.yes{
    background-color: #00ff00;
}

.no{
    background-color: #ff0000;
}

.cancel{
    background-color: #cec0b8;
}