$primary-brand-color: #0072ff;
$important-action-color: #ff6500;
$secondary-action-color: #808080;
$button-text-color: white;

$base-font-size: 16pt;
$buttonFontSize: 30pt;

$button-width: 200px;
$button-padding: 10px 30px 10px 20px;
