.button, .yes, .no, .cancel {
  color: white;
  text-align: center;
  font-size: 48pt;
  width: 200px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.yes {
  background-color: #00ff00; }

.no {
  background-color: #ff0000; }

.cancel {
  background-color: #cec0b8; }

