
$primary-brand-color: #0072ff;
$important-action-color: #ff6500;
$secondary-action-color: #808080;
$button-text-color: white;

$base-font-size: 16pt;
$buttonFontSize: 30pt;

$button-width: 200px;
$button-padding: 10px 30px 10px 20px;


@mixin standard-button($button-bg){
    background-color: $button-bg;
    color: $button-text-color;
    font-size: $buttonFontSize;
    width: $button-width;
    padding: $button-padding;
}

@mixin border-radius-vendor($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


body {     
    font-size: $base-font-size;
}

h1 {
    color: $primary-brand-color;
}

.lead-text{
    color: $primary-brand-color;
    font-weight: bold;
    font-style: italic;
}

.primary-button {
    @include standard-button($important-action-color);
    @include border-radius-vendor(20px);
}

.secondary-button {
    @include standard-button($secondary-action-color);
    @include border-radius-vendor(20px);
}

