

body{
    font-size: 20pt;
}


article{
    width: 300px;    
    float: left;
    background-color: orange;
}


aside{
  width: 300px;
  float: left;
  background-color: pink;

  @media screen and (max-width: 500px) {
    display: none;
    visibility:collapse;
  }
}







