.tile, .australia, .england, .sweden, .japan {
  width: 100px;
  height: 100px; }

.australia {
  background-color: #f7ad31; }

.england {
  background-color: white; }

.sweden {
  background-color: #ffe700; }

.japan {
  background-color: #435aad; }

