@import '_variables.scss';

$small-breakpoint: 480px;
$medium-breakpoint: 600px;

@mixin screen-media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin shadow($shadow...){
    box-shadow: $shadow;
}

@mixin standard-button($bg-color){
    color: $btn-text-color;
    width:$btn-width;
    background-color: $bg-color;
}

body {
    background-color: $col;
    font:{
        size: $page-font-size;
        weight: 700;
    }
}

%base-btn{
    padding: 10px 10px 20px 20px;
}
.primary-btn{
    @extend %base-btn;
    @include standard-button($primary-action-color);
}

.secondary-btn{
    clear:both;
    @include standard-button($secondary-action-color);

}

ol.contacts{
    background-color: blue;
    @include shadow(10px 5px 5px purple);
    li{
        header{
            font-size: 2em;
        }
        p{
            font-size: .675em;
        }
    }

    @include screen-media($small-breakpoint){
        display:none;
    }
}
