body {
  background-color: grey;
  font-size: 24px;
  font-weight: 700; }

.primary-btn {
  padding: 10px 10px 20px 20px; }

.primary-btn {
  color: white;
  width: 200px;
  background-color: aqua; }

.secondary-btn {
  clear: both;
  color: white;
  width: 200px;
  background-color: green; }

ol.contacts {
  background-color: blue;
  box-shadow: 10px 5px 5px purple; }
  ol.contacts li header {
    font-size: 2em; }
  ol.contacts li p {
    font-size: .675em; }
  @media screen and (max-width: 480px) {
    ol.contacts {
      display: none; } }
